body{
        font-size:16px;
        color: #fff;
        background-color: #fce4ec;
        font-family: 'oxygen', sans-serif;
}

#header-nav {
        background-color: #f44336;
        border-radius: 0;
        border:0;
}

#logo-img{
        background: url('../youtube.jpg') no-repeat;
        width:150px;
        height:150px;
        margin: 10px 15px 10px 0;
}

.navbar-brand{
        padding-top:25px;
}

.navbar-brand h1 {
       font-family:sans-serif;
       color:#a2c427;
       font-size:1.5em;
       text-transform: uppercase; /*항상대문자*/
       font-weight: bold;
       text-shadow: 1px 1px 1px #222;
       margin-top: 0;
       margin-bottom:0;
       line-height: .75;
}
/* 링크에 파랑색 없애기 */
.navbar-brand a:hover, .navbar-brand a:focus {text-decoration: none;}

.navbar-brand p {
        color: #000;
        text-transform: lowercase;
        font-size: .7em;
        margin-top:15px;
}

.navbar-brand p span { vertical-align: middle;}

/* 화면크기 작아질시 사진 변화 */
.container-fluid{background-color: #ba000d;
                 justify-content: center;
                 padding-left:120px;
                 position: fixed;
                 }

.row{display:flex;
        position: relative;}
/* flex-flowL column nowrap; */


.nav-item a:hover {font-size:1.2em;}
.nav-item{font-weight:600; }

.jumbtron{margin:10px;}

@media (min-width:850px) 
{.navbar-toggler {display:none;}
.navbar1 {display:none;}
}

@media(min-width:1200px) {
        .jumbtron {
                background:url("../youtube22.jpg") no-repeat;
                height:675px;
                box-shadow: 0 0 50px #3f0c1f;
                border: 2px solid #3f0c1f;
        }
}

#Recommend, #regist, #map {
        height: 250px;
        width: 100%;
        margin-bottom: 15px;
        position: relative;
        border: 2px solid black;
        overflow:hidden;
}

#Recommend:hover, #regist:hover, #map:hover {
        box-shadow: 0 1px 5px 1px #cccccc;

}

 







